<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 인터넷 사용 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Albbamon"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- 다른 Activity -->
        <activity
            android:name=".activity_oh"
            android:exported="false" />

        <!-- 메인 Activity -->
        <activity
            android:name=".InquiryActivity"
            android:exported="true"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 회원 탈퇴 Activity -->
        <activity android:name=".MemberWithdrawalActivity" />

        <!-- 메일/문자수신 설정 Activity -->
        <activity android:name=".MailSettingsActivity" />

        <!-- 아이디 찾기 Activity들 -->
        <activity
            android:name=".FindIdPersonalActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".FindIdBusinessActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            tools:ignore="MissingClass" />

        <!-- 개인회원 비밀번호 찾기 -->
        <activity
            android:name=".FindPwPersonalActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <!-- 기업회원 비밀번호 찾기 -->
        <activity
            android:name=".FindPwBusinessActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <!-- 채용공고 상세 화면 Activity -->
        <activity
            android:name=".JobDetailActivity"
            android:exported="false" />

    </application>

</manifest>
