<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 인터넷 및 네트워크 상태 확인 권한 추가 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="false"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Albbamon"
        tools:targetApi="31">
        <activity android:name=".autologin.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mypage.CeoMypageActivity"
            android:exported="false" />
        <activity
            android:name=".Experience.ExperienceSearch"
            android:exported="false" />
        <activity
            android:name=".Experience.ExperienceUpdate"
            android:exported="false" />
        <activity
            android:name=".Experience.ExperienceView"
            android:exported="false" />
        <activity
            android:name=".Experience.ExperienceCreate"
            android:exported="false" />
        <activity
            android:name=".Experience.ExperienceList"
            android:exported="false" />
        <activity
            android:name=".SignIn"
            android:exported="false">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".InquiryActivity"
            android:exported="true"
            android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>

        <activity
            android:name=".mypage.ProfileEditActivity"
            android:exported="false" /> <!-- 다른 Activity -->
        <activity
            android:name=".activity_oh"
            android:exported="false" /> <!-- 메인 Activity -->

        <!-- 🚀 MainActivity를 다시 추가 -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".comAccount"
            android:exported="false" />
        <activity
            android:name=".perAccount"
            android:exported="false" />
        <activity
            android:name=".account"
            android:exported="false" />
        <activity android:name=".mypage.UserMypageActivity" />
        <activity android:name=".mypage.UserInfoActivity" />
        <activity android:name=".mypage.ApplicationStatusActivity" />
        <activity android:name=".mypage.ResumeManagementActivity" />
        <activity android:name=".Resume.ResumeSchoolActivity" />
        <activity android:name=".Resume.ResumeJobActivity" />
        <activity android:name=".Resume.ResumeWriteActivity" />
        <activity android:name=".Resume.ResumeOptionActivity" />
        <activity android:name=".Resume.ResumeIntroActivity" />
        <activity android:name=".Resume.ResumePortfolioActivity" />
        <activity android:name=".Resume.ResumeNewJobActivity" />
        <activity android:name=".Resume.ResumePremiumActivity" />
        <activity android:name=".RecruitmentViewActivity" />
        <activity android:name=".JobPostingActivity" />
        <activity android:name=".mypage.EditUserInfoActivity" />
        <activity android:name=".UserMypageActivity" />
        <activity android:name=".ApplySuccessActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!-- 회원 탈퇴 Activity -->
        <activity android:name=".MemberWithdrawalActivity" /> <!-- 메일/문자수신 설정 Activity -->
        <activity android:name=".MailSettingsActivity" /> <!-- MenuActivity 설정 유지 -->
        <activity
            android:name=".MenuActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- 아이디 찾기 Activity들 -->
        <activity
            android:name=".FindIdPersonalActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".FindIdBusinessActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            tools:ignore="MissingClass" />

        <!-- 개인회원 비밀번호 찾기 -->
        <activity
            android:name=".FindPwPersonalActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <!-- 기업회원 비밀번호 찾기 -->
        <activity
            android:name=".FindPwBusinessActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <!-- ✅ 채용공고 목록 Activity -->
        <activity
            android:name=".JobListActivity"
            android:exported="true"
            android:theme="@style/Theme.Albbamon" />

        <!-- ✅ 검색 Activity -->
        <activity
            android:name=".SearchActivity"
            android:exported="true"
            android:theme="@style/Theme.Albbamon" />

        <activity android:name=".JobDetailActivity" />
    </application>

</manifest>